[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "==4.2.0"
drf-yasg = "==1.21.7"
django = "==4.2.5"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "*"
pillow = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
